/*!***********************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/sass/main.scss ***!
  \***********************************************************************************************************************************************************************************/
* {
  box-sizing: border-box;
}

body {
  width: 80vw;
  height: 80vh;
}

#tooltip {
  visibility: hidden;
  background-color: pink;
  border-radius: 6px;
  padding: 10px;
}

#main {
  margin-left: 10%;
}

.pathy,
.pathx {
  font-weight: bolder;
}
